<div class="col-md-1">
</div>
<div class="d-flex col-xs-4 justify-content-center">
  <div class="">
  <h1 class="mb-3 justify-content-center text-center">Login</h1>
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <div class="form-group">
     <%= f.label :email %>
     <%= f.email_field :email, class: "form-control col-xs-4" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control col-xs-4" %>
    </div>
    <div class="form-group d-flex justify-content-center" id="create_session">
      <%= f.submit "Login", class: " btn btn-primary justify-content-center" %>
    </div>
    <% end %>
  </div>
</div>
<div class="col-md-5">
</div>