<div class="col-md-1">
</div>
<div class="shadow p-3 mb-5 bg-light rounded col-xs-12 col-md-11 "> 
  <div class="">
    <h1 class="mb-3 text-center">Tasks</h1>
  </div>
  <form>
    <div class="form-row serch_unit">
      <%= form_with scope: :task, url: tasks_path, method: :get, local: true do |f|  %>
      <div class="form-group row col-md-4  status-choice mt-3">
        <%= f.label :task_name, class: "col-sm-6 status-choice " %>
        <%= f.text_field :task_name, class: "form-control col-sm-6 ml-3", placeholder: "Search .." %>
      </div>
      <div class="form-group row col-md-3 status-choice mt-3">
        <%= f.label :status, class: "status-choice col-sm-6" %>
        <%= f.select :status, Status.options_for_status, { include_blank: true }, class: "form-control form-control-sm col-sm-6 ml-3" %>
      </div>
      <div class="form-group row col-md-3 status-choice mt-3">
        <%= f.label :label, class: "status-choice col-sm-6" %>
        <%= f.select :label_id, Label.pluck(:label_name, :id), { include_blank: true }, class: "form-control form-control-sm col-sm-6 ml-3" %>
      </div>
      <div class="form-group col-md-2 text-right mt-4">
        <%= f.submit :search, class: "btn btn-outline-dark" %>      
      </div>
      <% end %>
    </div>
  </form>
  <div class="btn btn-primary new-btn  btn-sm mt-4 mb-4">
   <%= link_to 'New task', new_task_path %>
  </div>
  <table class="table table-hover shadow p-3 mb-5 bg-light rounded">
    <thead>
      <tr class="mx-2 d-inline-block text-justify">
        <th scope="col" > # </th>
        <th scope="col" >Task name</th>
        <th scope="col" >Description</th>
        <th scope="col" ><%= link_to "Priority", tasks_path(sort_priority: "true") %></th>
        <th scope="col" >Status</th>
        <th scope="col" ><%= link_to "Expired_at", tasks_path(sort_expired: "true") %></th>
        <th scope="col" >Label</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody class="mx-2 d-inline-block text-justify">
      <% @tasks.each_with_index do |task, index| %>
      <tr>
        <td class= "text-justify"><%= index +1 %></td>
        <td class= "text-justify"><%= task.task_name %></td>
        <td class= "text-justify"><%= task.description %></td>
        <td class= "text-justify priority"><%= task.priority %></td>
        <td class= "text-justify"><%= task.status %></td>
        <td class= "text-justify expired_row"><%= l(task.expired_at, format: :long) %></td>
        <td class= "text-justify">
        <% task.labels.each do |label| %>
          <div class="label_style btn btn-secondary">
           <%= label.label_name %>
          </div>
        <% end %>
        </td>
        <td><%= link_to 'Show', task_path(task.id), :class => 'btn btn-outline-info' %></td>
        <td><%= link_to 'Edit', edit_task_path(task.id), :class => 'btn btn-outline-secondary' %></td>
        <td><%= link_to 'Destroy', task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' }, id: "delete_button", class: "btn btn-outline-danger delete-btn" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="p-2">
    <br>
    <%= paginate(@tasks) %>
  </div>
</div>




















